/* @import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css'; */

img {
    width: 100%;
    height: 100%;
    align-content: center;
    outline: none;
}

.picsum-img-wrapper {
    height: 70vh;
}

.carousel-indicators li {
    width: 30%;
    height: 30%;
    border-radius: 50%;
}