<app-collapsible-navbar1></app-collapsible-navbar1>
<header>
    <div class="description-wrap">
        <h1 class="descr-header">Header 1</h1>
        <p class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis unde odit aperiam quaerat beatae
            maxime
            pariatur,
            aliquam laudantium quia veritatis!</p>
        <a href="#learn_more" class="btn btn-desc-more">Read More</a>
    </div>
</header>

<section id="org-short-desc">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente mollitia eveniet molestias, beatae tempora,
        reiciendis aspernatur alias voluptate illo culpa non nihil nostrum soluta, obcaecati cupiditate ex praesentium?
        Ea, at?</p>
</section>

<section id="our-approach">
    <div id="focus">
        <h2>OUR APPROACH</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, eveniet?</p>
    </div>
    <ul id="approach-descriptions">
        <li class="column">
            <a href="" (mouseenter)='changeAproachTxt(appr1)' id='appr1' #appr1>
                <span>Health</span>
                <i class="fas fa-hospital fa-x3"></i>
            </a>
            <a href="" (mouseenter)='changeAproachTxt(appr2)' id='appr2' #appr2>
                <span>Markets</span>
                <i class="fas fa-lightbulb fa-x3"></i>
            </a>
        </li>
        <li class="column">
            <a href="" (mouseenter)='changeAproachTxt(appr3)' id='appr3' #appr3>
                <span>Livelihoods</span>
                <i class="fas fa-users fa-x3"></i>
            </a>
            <a href="" (mouseenter)='changeAproachTxt(appr4)' id='appr4' #appr4>
                <span>Environment & Resilience Building</span>
                <i class="fab fa-envira fa-x3"></i>
            </a>
        </li>
        <li class="column">
            <a href="" (mouseenter)='changeAproachTxt(appr5)' id='appr5' #appr5>
                <span>Capacity Development</span>
                <i class="fas fa-layer-group fa-x3"></i>
            </a>
            <a href="" (mouseenter)='changeAproachTxt(appr6)' id='appr6' #appr6>
                <span>Governance</span>
                <i class="fas fa-users fa-x3"></i>
            </a>
        </li>
        <div id="approach-focus-descr" #approachFocusDescr>
            <h3>13 Projects</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor laboriosam, animi autem blanditiis
                nostrum
                dolores accusantium iusto iste molestiae aut quod quos qui possimus, vero, veniam id neque omnis
                explicabo
                dolore libero vitae eaque soluta. Perspiciatis quis sequi consectetur asperiores!</p>
            <a href="#more-info" class="btn btn-outline">MORE INFO</a>
        </div>
    </ul>
</section>