/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #DB4B56;
    --light-color: #f4f4f4;
    --primary-font-family: 'Archivo Black', sans-serif;
    --secondary-font-family: 'Montserrat', sans-serif;
    --dark-primary-color: #a81823;


    /* Background colors */
    --bg-light: #f4f4f4;
    --bg-dark: #333;

    /* Text Colors */
    --dark-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font-family);
    color: white;
}

nav {
    padding: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

section {
    margin: 20px 30px;
    padding: 20px 30px;
    color: var(--dark-color);
}

input {
    padding: 13px 5px;
    outline: none;
}

ul {
    list-style: none;
}

footer {
    display: flex;
    flex-direction: row;
    color: white;
    flex-wrap: nowrap;
    max-width: 100vw;
    background: var(--primary-color);
}

/* Utility Classes */
.btn {
    text-decoration: none;
    display: inline-block;
    padding: 15px 10px;
    background: var(--primary-color);
    color: var(--light-color);
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}

.btn-outline {
    background: transparent;
    border: 1px solid var(--light-color);
}

.btn:hover {
    background: var(--bg-dark);
    color: white;
}

.column {
    display: flex;
    flex-direction: column;
    /* width: 30%; */
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-wrap: nowrap;
}

.signup {
    border: none;
    border-radius: 0;
    background: blue;
}

/* Carousel */
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel-caption {
    right: 37.5%;
    left: 37.5%;
}

.carousel-inner>.carousel-item:first-of-type>.carousel-caption {
    top: 25%;
    left: 10%;
    bottom: 75%;
    right: 60%;
}
.carousel-inner>.carousel-item:last-of-type>.carousel-caption {
    top: 25%;
    right: 10%;
    bottom: 75%;
    left: 60%;
}

.carousel-caption h3 {
    background: rgba(168, 24, 35, 0.7);
}
